/**
 * Fonts
 **/



@font-face {
  font-family: 'BarlowCondensed-Medium';
  src: url('../fonts/BarlowCondensed-Medium.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed-Bold';
  src: url('../fonts/BarlowCondensed-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'BarlowCondensed-Light';
  src: url('../fonts/BarlowCondensed-Light.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/**
* Colors
*/

$color-default: #202020;
$color-secondary: #4e85bf;
$color-hover: #0f3256;
$color-dark: #121212;
$color-light: #ffffff;
$color-dark-hard: #495057;
$color-green-light: #7df0d3;
$color-red-light: #ed6b6c;
$color-ambar: #f87c27;
$color-subtitle: #5260ff;

/**
* Borders
*/

$border-style-default: solid;
$border-width-none: 0;
$border-width-thin: 1px;
$border-width-thick: 2px;
$border-width-thicker: 4px;
$border-radius-none: 0;
$border-radius-small: 3px;
$border-radius-medium: 20px;
$border-radius-pill: 500px;
$border-radius-circular: 50%;

/**
* Font
*/

$font-family-base: 'BarlowCondensed-Medium';
$font-family-secondary: 'BarlowCondensed-Light';
$font-family-secondary-bold: 'BarlowCondensed-Bold';
$font-family-soft: Arial;
$font-size-xs: 12px;
$font-size-sm: 16px;
$font-size-md: 28px;
$font-size-lg: 32px;
$font-line-height-xxxs: 12px;
$font-line-height-xxs: 16px;
$font-line-height-xs: 20px;
$font-line-height-sm: 24px;
$font-line-height-md: 28px;
$font-line-height-lg: 32px;
$font-line-height-xl: 36px;
$font-line-height-xxl: 48px;
$font-line-height-xxxl: 64px;
$font-line-height-ul: 80px;
$spacing-inline-xxxs: 4px;
$spacing-inline-xxs: 8px;
$spacing-inline-xs: 16px;
$spacing-inline-sm: 24px;
$spacing-inline-md: 32px;
$spacing-inline-lg: 48px;
$spacing-inline-xl: 64px;
$spacing-inset-xxs: 2px;
$spacing-inset-xs: 4px;
$spacing-inset-sm: 8px;
$spacing-inset-md: 16px;
$spacing-inset-lg: 24px;
$spacing-inset-xl: 32px;
$spacing-squish-xs: 4px 8px;
$spacing-squish-sm: 8px 16px;
$spacing-squish-md: 16px 24px;
$spacing-squish-lg: 16px 32px;
$spacing-squish-xl: 32px 48px;
$spacing-squish-xxl: 50px 42px;
$spacing-stack-xxxs: 4px;
$spacing-stack-xxs: 8px;
$spacing-stack-xs: 16px;
$spacing-stack-sm: 24px;
$spacing-stack-md: 32px;
$spacing-stack-lg: 48px;
$spacing-stack-xl: 72px;
$spacing-stack-xxl: 120px;
$spacing-stack-xxxl: 160px;

/**
Shadow
**/

@mixin shadow-box() {
  -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.07);
}

/**
* Divisor
**/

@mixin divisor-line() {
  background: linear-gradient(to right, $color-medium 33%, #fff 0%) top/10px 1px
      repeat-x,
    /* top */ linear-gradient($color-medium 33%, #fff 0%) right/1px 10px
      repeat-y,
    /* right */ linear-gradient(to right, $color-medium 33%, #fff 0%)
      bottom/10px 1px repeat-x,
    /* bottom */ linear-gradient($color-medium 33%, #fff 0%) left/1px 10px
      repeat-y; /* left */
  margin: 20px 5px;
  height: 2px;
  width: 100%;
}

/* Header */

/* Buttons */
.buttonDark
{
    background-color: #082a4d;
    --background: #082a4d;
    color: white;
}

.buttonCommon {
  height: 41px;
  border-radius: 5px;
  box-shadow: none;
  --box-shadow: none;
  text-transform: none !important;
  font-family: $font-family-secondary;
  font-size: 16px;
}

.buttonFull {
  --background: #4D86BF;
  color: white;
}

.buttonNull {
  --background: white;
  color: #4D86BF;
  border-color: #4D86BF;
  border-width: 1px;
  border-style: solid;
}

/* Colors */
.bg-white
{
  background-color: #fff;
  --background: #fff;
}

.bg-dark-blue
{
    background-color: #082a4d;
    --background: #082a4d;
}

.bg-light-blue
{
    background-color: #082a4d;
    --background: #082a4d;
}

/* Typography */


/* Footer */
