@import "./config.scss";
@import "./typhography.scss";
body {
    overflow-x: hidden;
    background-color: #f8f9fa;
}

form{
    width: 100%;
}

p,
span,
a {
    font-family: $font-family-secondary;
}

h1,
h2,
h3 {
    font-family: $font-family-base;
}
